Repository 4pforp/4p-Market, pull requests merged in 2022-06, with the labels that each got.

#3 Feature/login 로그인페이지 마크업 및 스타일 적용, 이미지 파일 추가
  README.md
  package-lock.json
  package.json
  src/App.jsx
  src/Components/scss/_variables.scss
  src/app.scss
  src/assets/images/facebook-logo.svg
  src/assets/images/google-logo.svg
  src/assets/images/kakao-logo.svg
  src/assets/images/symbol-logo-W.svg
  src/pages/Login/EmailLoginBtn.jsx
  src/pages/Login/EmailLoginBtn.scss
  src/pages/Login/FacebookBtn.jsx
  src/pages/Login/FacebookBtn.scss
  src/pages/Login/GoogleBtn.jsx
  src/pages/Login/GoogleBtn.scss
  src/pages/Login/KakaoBtn.jsx
  src/pages/Login/KakaoBtn.scss
  src/pages/Login/Login.jsx
  src/pages/Login/LoginSection.jsx
  src/pages/Login/LoginSection.scss
  src/pages/Login/SocialLoginBtn.jsx
  src/pages/Login/SocialLoginBtn.scss
  src/pages/Login/login.scss
Labels: docs, css, React

#17 Splash 화면 구현 및 이메일 로그인 화면 구현, App.jsx 수정 및 추가 기능 구현
  src/App.jsx
  src/Pages/logIn/EmailLogin.jsx
  src/Pages/logIn/EmailLogin.scss
  src/Pages/logIn/EmailLoginBtn.jsx
  src/Pages/logIn/Login.scss
  src/Pages/logIn/Splash.jsx
  src/Pages/logIn/Splash.scss
  src/assets/images/full-logo.svg
Labels: fix, function, css, React

#18 ♻️ 이메일 회원가입, 회원정보 입력 페이지 컴포넌트화, 스타일 코드 수정
  package-lock.json
  package.json
  src/App.css
  src/App.css.map
  src/App.jsx
  src/Components/scss/default.css
  src/Components/scss/default.css.map
  src/Components/scss/reset.css
  src/Components/scss/reset.css.map
  src/Pages/button/Button.jsx
  src/Pages/button/button.css
  src/Pages/button/button.css.map
  src/Pages/button/button.scss
  src/Pages/emailSignUp/EmailSignUP.jsx
  src/Pages/emailSignUp/emailSignUp.css
  src/Pages/emailSignUp/emailSignUp.css.map
  src/Pages/emailSignUp/emailSignUp.scss
  src/Pages/home/Home.css
  src/Pages/home/Home.css.map
  src/Pages/logIn/EmailLogin.css
  src/Pages/logIn/EmailLogin.css.map
  src/Pages/logIn/EmailLoginBtn.css
  src/Pages/logIn/EmailLoginBtn.css.map
  src/Pages/logIn/FacebookBtn.css
  src/Pages/logIn/FacebookBtn.css.map
  src/Pages/logIn/GoogleBtn.css
  src/Pages/logIn/GoogleBtn.css.map
  src/Pages/logIn/KakaoBtn.css
  src/Pages/logIn/KakaoBtn.css.map
  src/Pages/logIn/Login.css
  src/Pages/logIn/Login.css.map
  src/Pages/logIn/LoginSection.css
  src/Pages/logIn/LoginSection.css.map
  src/Pages/logIn/SocialLoginBtn.css
  src/Pages/logIn/SocialLoginBtn.css.map
  src/Pages/logIn/Splash.css
  src/Pages/logIn/Splash.css.map
  src/Pages/profileSet/ProfileSet.jsx
  src/Pages/profileSet/profileSet.css
  src/Pages/profileSet/profileSet.css.map
  src/Pages/profileSet/profileSet.scss
  src/Pages/signUp/signUp.css
  src/Pages/signUp/signUp.css.map
  src/Pages/signUp/signUp.jsx
  src/Pages/signUp/signUp.scss
Labels: refactoring, css, React

#19 📁 회원가입 컴포넌트 페이지 signUp 폴더 하위로 이동
  src/Pages/signUp/button/Button.jsx
  src/Pages/signUp/button/button.css
  src/Pages/signUp/button/button.css.map
  src/Pages/signUp/button/button.scss
  src/Pages/signUp/emailSignUp/EmailSignUP.jsx
  src/Pages/signUp/emailSignUp/emailSignUp.css
  src/Pages/signUp/emailSignUp/emailSignUp.css.map
  src/Pages/signUp/emailSignUp/emailSignUp.scss
  src/Pages/signUp/profileSet/ProfileSet.jsx
  src/Pages/signUp/profileSet/profileSet.css
  src/Pages/signUp/profileSet/profileSet.css.map
  src/Pages/signUp/profileSet/profileSet.scss
  src/Pages/signUp/signUp.jsx
Labels: docs

#20 🔧 useContext 이용하여 회원가입 정보 POST 기능 구현
  src/Pages/signUp/button/Button.jsx
  src/Pages/signUp/contexts/UserContext.jsx
  src/Pages/signUp/profileSet/ProfileSet.jsx
  src/Pages/signUp/signUp.jsx
Labels: function, React

#21 🔧 로그인 기능 구현
  src/Pages/logIn/EmailLogin.css
  src/Pages/logIn/EmailLogin.css.map
  src/Pages/logIn/EmailLogin.jsx
  src/Pages/logIn/EmailLogin.scss
Labels: function, css, React

#22 🧹 불필요한 코드 삭제, tap size 컨벤션 적용
  src/Pages/signUp/button/button.css.map
  src/Pages/signUp/button/button.scss
  src/Pages/signUp/emailSignUp/emailSignUp.css
  src/Pages/signUp/emailSignUp/emailSignUp.css.map
  src/Pages/signUp/profileSet/ProfileSet.jsx
  src/Pages/signUp/profileSet/profileSet.css
  src/Pages/signUp/profileSet/profileSet.css.map
  src/Pages/signUp/signUp.css
  src/Pages/signUp/signUp.css.map
Labels: docs

#23 🧹 tap size 컨벤션 적용
  README.md
  src/App.css
  src/App.css.map
  src/App.scss
  src/Components/scss/_font.scss
  src/Components/scss/_variables.scss
  src/Components/scss/default.css
  src/Components/scss/default.css.map
  src/Components/scss/default.scss
  src/Components/scss/reset.css
  src/Components/scss/reset.css.map
  src/Components/scss/reset.scss
  src/Pages/home/Home.css
  src/Pages/home/Home.css.map
  src/Pages/logIn/EmailLogin.css
  src/Pages/logIn/EmailLogin.css.map
  src/Pages/logIn/EmailLoginBtn.css
  src/Pages/logIn/EmailLoginBtn.css.map
  src/Pages/logIn/EmailLoginBtn.jsx
  src/Pages/logIn/EmailLoginBtn.scss
  src/Pages/logIn/FacebookBtn.css
  src/Pages/logIn/FacebookBtn.css.map
  src/Pages/logIn/FacebookBtn.jsx
  src/Pages/logIn/FacebookBtn.scss
  src/Pages/logIn/GoogleBtn.css
  src/Pages/logIn/GoogleBtn.css.map
  src/Pages/logIn/GoogleBtn.jsx
  src/Pages/logIn/GoogleBtn.scss
  src/Pages/logIn/KakaoBtn.css
  src/Pages/logIn/KakaoBtn.css.map
  src/Pages/logIn/KakaoBtn.jsx
  src/Pages/logIn/KakaoBtn.scss
  src/Pages/logIn/Login.css
  src/Pages/logIn/Login.css.map
  src/Pages/logIn/Login.jsx
  src/Pages/logIn/Login.scss
  src/Pages/logIn/LoginSection.css
  src/Pages/logIn/LoginSection.css.map
  src/Pages/logIn/LoginSection.jsx
  src/Pages/logIn/LoginSection.scss
  src/Pages/logIn/SocialLoginBtn.css
  src/Pages/logIn/SocialLoginBtn.css.map
  src/Pages/logIn/SocialLoginBtn.jsx
  src/Pages/logIn/SocialLoginBtn.scss
  src/Pages/logIn/Splash.css
  src/Pages/logIn/Splash.css.map
  src/Pages/logIn/Splash.jsx
  src/Pages/logIn/Splash.scss
  src/Pages/signUp/button/button.css
  src/Pages/signUp/profileSet/ProfileSet.jsx
  src/index.js
Labels: chore

#25 ⛔ css파일 삭제
  src/App.css
  src/App.css.map
  src/Components/scss/default.css
  src/Components/scss/default.css.map
  src/Components/scss/reset.css
  src/Components/scss/reset.css.map
  src/Pages/home/Home.css
  src/Pages/home/Home.css.map
  src/Pages/logIn/EmailLogin.css
  src/Pages/logIn/EmailLogin.css.map
  src/Pages/logIn/EmailLoginBtn.css
  src/Pages/logIn/EmailLoginBtn.css.map
  src/Pages/logIn/FacebookBtn.css
  src/Pages/logIn/FacebookBtn.css.map
  src/Pages/logIn/GoogleBtn.css
  src/Pages/logIn/GoogleBtn.css.map
  src/Pages/logIn/KakaoBtn.css
  src/Pages/logIn/KakaoBtn.css.map
  src/Pages/logIn/Login.css
  src/Pages/logIn/Login.css.map
  src/Pages/logIn/LoginSection.css
  src/Pages/logIn/LoginSection.css.map
  src/Pages/logIn/SocialLoginBtn.css
  src/Pages/logIn/SocialLoginBtn.css.map
  src/Pages/logIn/Splash.css
  src/Pages/logIn/Splash.css.map
  src/Pages/signUp/button/button.css
  src/Pages/signUp/button/button.css.map
  src/Pages/signUp/emailSignUp/emailSignUp.css
  src/Pages/signUp/emailSignUp/emailSignUp.css.map
  src/Pages/signUp/profileSet/profileSet.css
  src/Pages/signUp/profileSet/profileSet.css.map
  src/Pages/signUp/signUp.css
  src/Pages/signUp/signUp.css.map
Labels: docs

#28 🎨 크롬 인풋창 기본스타일 리셋
  src/Components/scss/reset.scss
Labels: css
